<main>

    <form action="index.php?controller=index&method=update&id=<?php echo $user->getId()?>" method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name"  value="<?php echo $user->getName()?>" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" name="surname" id="surname" value="<?php echo $user->getSurname()?>" aria-describedby="surname">
        </div>
        <input type="submit" name="submit" value="update">
    </form>



</main>